<template>
  <div class="<%= lowerName %>">{{ msg }}这是<%= name %>页面
  </div>
</template>
<script setup lang="ts">
</script>
<style scoped lang="less">
  .<%=lowerName %> {
    color: red;
  }
</style>