<template>
  <div class="<%= lowerName %>">{{ msg }}:这是<%= name %>组件
  </div>
</template>
<script setup lang="ts">
  import { defineProps } from 'vue'
  const porps = withDefaults(defineProps < { msg: string } > (), {
    msg: 'hallo'
  })
</script>
<style scoped lang="less">
  .<%=lowerName %> {}
</style>